---
name: CI/CD
'on':
  pull_request:
  push:
    branches:
      - main

jobs:

  build:
    name: Build and test docker
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: rockylinux8
          - distro: centos8
          - distro: centos7
          - distro: debian10
          - distro: debian11
          - distro: ubuntu20.04
          - distro: ubuntu18.04
          - distro: ubuntu16.04
          - distro: fedora35
          - distro: fedora34
          - distro: fedora33
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Build docker image.
        run: docker build --no-cache --rm --file=images/Dockerfile.${{ matrix.distro }} --tag ${{ matrix.distro }}:build images

      - name: Run a container of created image.
        run: |
          container_id=$(mktemp)
          docker run --detach --privileged --cap-add=ALL -v /sys/fs/cgroup:/sys/fs/cgroup:ro -v /lib/modules:/lib/modules:ro ${{ matrix.distro }}:build > "${container_id}"
          sleep 5
          echo "container_id=$container_id" >> $GITHUB_ENV

      - name: Check if the container is correctly stopped and removed.
        run: docker rm -f "$(cat ${container_id})"

      - name: Run Trivy vulnerability scanner.
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ matrix.distro }}:build
          exit-code: '0'

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    name: Push to Quay
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: rockylinux8
          - distro: centos8
          - distro: centos7
          - distro: debian10
          - distro: debian11
          - distro: ubuntu20.04
          - distro: ubuntu18.04
          - distro: ubuntu16.04
          - distro: fedora35
          - distro: fedora34
          - distro: fedora33
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Quay
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Push to Quay
        uses: docker/build-push-action@v2
        with:
          file: images/Dockerfile.${{ matrix.distro }}
          pull: true
          push: true
          tags: quay.io/aminvakil/${{ matrix.distro }}-systemd
